{% extends 'main/base.html' %}
{% block title %}update profile{% endblock title %}

{% block content %}
<div class="article">
    <p>If you forgot your password write your email below.
        If such an account exists, we will send further instructions to it.</p>
    <form action="" method="post" onsubmit="return checkForm(this);">
        {% csrf_token %}
        {{form.as_p}}
        <button  name="myButton" value="Submit" type="submit" class="btn btn-success">Send email</button>
    </form>
</div>
<script>
    var checkForm = function(form) {
      form.myButton.disabled = true;
      return true;
    };
</script>

{% endblock content %}