{% extends 'main/base.html' %}
{% block title %}update profile{% endblock title %}

{% block content %}
{% if user.username == form.instance.username %}
    <div class="article">
        <span style="font-size: 18px; font-weight: bold;"> Profile update:</span>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                {{form.first_name.label}}:    
                {{form.first_name}}
            </p>
            <p>
                {{form.last_name.label}}:
                {{form.last_name}}
            </p>
            <p>
                {{form.email.label}}:
                <input class="form-control" readonly disabled type="text" placeholder="******{{form.instance.email|slice:'2:6'}}*********.com" >
                {% if user.is_active %}
                <span style="background-color:  #198754; color: white;">Your email is confirmed.</span>
                {% endif %}
            </p>
            <p>
                <a href="{% url 'profile-password-reset-request' %}">Change password?</a>
            </p>
            <table>
                <tr>
                    <td>
                        <p>
                            {{form.image.label}}:
                            {{form.image}}
                        </p>
                    </td>
                    <td style="width: 224px;">

                    </td>
                    <td>
                        <img style="margin-left: 2px;" src="{{ form.instance.image.url }}" width="100" height="100" title="Upload new image">
                    </td>
                </tr> 
            </table>
            <button class="btn btn-success" type="submit">Update</button>
        </form>
    </div>
{% else %}
    <div class="article text-center">
        <img style="margin-left: 2px;" src="{{ form.instance.image.url }}" width="100" height="100">
        <p style="font-size: 16px;">Username: <strong>{{form.instance.username}}</strong></p>
        <p style="font-size: 16px;">First name: <strong>{{form.instance.first_name}}</strong></p>
        <p style="font-size: 16px;">Last name: <strong>{{form.instance.last_name}}</strong></p>
        <p style="font-size: 16px;">Joined: <strong>{{form.instance.date_joined}}</strong></p>
    </div>
{% endif %}
{% endblock content%}