{% extends 'main/base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <form action="" method="post" onsubmit="return checkForm(this);">
        <div class="article">
            {% csrf_token %}
            {{form.as_p}}
            <button  name="myButton" value="Submit" type="submit" class="btn btn-success">Sign-up</button>
        </div>
    </form>

    <script>
        var checkForm = function(form) {
          form.myButton.disabled = true;
          return true;
        };
    </script>
{% endblock content %}