{% extends 'main/base.html' %}
{% block title %}update profile{% endblock title %}

{% block content %}

<div class="article">
    {% csrf_token %}
    <label for="input">New password</label>
    <input  type="text">
    <button type="submit" class="btn btn-success">Confirm</button>
</div>

Your password can’t be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can’t be a commonly used password.
Your password can’t be entirely numeric.

{% endblock content %}