{% extends 'main/base.html' %}
{% block title %}update profile{% endblock title %}

{% block content %}
<div class="article">
    <p>Dear {{user.username}}, You must confirm your email adress first.</p>
    <p>Please, enter your email that you entered during registration and we will send the instructions.</p>
    <form action="" method="post" onsubmit="return checkForm(this);">
        {% csrf_token %}
        {{form.as_p}}
        <button  name="myButton" value="Submit" type="submit" class="btn btn-success">Send email</button>
    </form>
</div>

<script>
    var checkForm = function(form) {
      form.myButton.disabled = true;
      return true;
    };
</script>

<div class="article">
    <label for="input">New password:</label>
    <input type="text" class="form-control" disabled readonly>
    <br>
    <ul>
        <li>Your password can’t be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>    
        <li>Your password can’t be entirely numeric.</li>      
    </ul>
    <br>
    <label for="input">New password confirmation: </label>
    <input type="text" class="form-control" disabled readonly>
    <br>
    <button class="btn btn-success" disabled readonly>Submit</button>
</div>
{% endblock content %}