/* FOR FEED PAGE */
* {
    box-sizing: border-box;
}

.left {
    float: left;
    width: 20%;
    text-align: center;
}

.left a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
    }

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    margin-top: 7px;
}

.right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .left, .main, .right {
        width: 100%;
    }
    .hide-mobile {
        display:none;
    }
}
