{% extends 'main/base.html' %}
{% block title %}Feed{% endblock title %}

{% block content %}
<div class="article input-group">
    <table>
        <th> <a href="#"><img src="/media/default/avatar.jpg" width="40" height="40"/></th>
            <th style="width: 565px;"><a style="text-decoration: none;" href="{% url 'main:post-create' %}"><input class="form-control" type="text" placeholder="Create post..."></a></th>
    </table>    
</div>
    {% for post in posts %}
        <div id="vote-section">
            {% include 'main/votes.html' %}
        </div>
        <div class="article">
            <div class="clr"></div>
            <p style="font-size: 18px; font-weight: bold;">{{post.title}}</p>
            <div class="clr"></div>
            <p class="infopost">
            {% if comments and post.get_comment_numbers != 0 %}
                <a href="{% url 'main:post-detail' slug=post.slug %}" class="com">{{ post.get_comment_numbers }} comment{{ post.get_comment_numbers|pluralize }}</a> 
            {% else %}
                <a href="{% url 'main:post-detail' slug=post.slug %}" class="com">No comments yet</a>    
            {% endif %}
                <span class="date">{{post.created_at|timesince}} ago</span> 
                Posted by <a href="{% url 'profile' post.author %}">{{post.author}}</a>
            <p>{{post.content|safe}}</p>
            <table>
                {% if user == post.author %}
                <td>
                    <form action="{% url 'main:post-delete' slug=post.slug %}">
                        {% csrf_token %}
                        <a href="{% url 'main:post-delete' slug=post.slug %}">Delete</a>
                    </form>
                </td>
                {% endif %}
                <td>
                </td>
                <td>
                    <a href="{% url 'main:post-detail' slug=post.slug %}" class="rm">Read more &raquo;</a>
                </td>
            </table>
            <hr>
        </div>
    {% endfor %}

    <script>
        $(document).ready(function(event){
            $(document).on('click','#vote', function(event){
                event.preventDefault();
                var pk = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: "{% url 'main:post-vote' slug=post.slug %}",
                    data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: 'json',
                    success: function(resoponse){
                        $('#vote-section').html(resoponse['form'])
                        console.log($('#vote-section').html(resoponse['form'])); 
                    },
                    error: function(rs, e){
                        console.log(rs.responseText);
                    }
                })
            });
        });
    </script>

{% endblock content %}