{% extends 'main/base.html' %}
{% block title %}Feed{% endblock title %}

{% block content %}

    <div class="article">
        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-sm-1">
                <img src="{{user.image.url}}" width="40" height="40"/>
            </div>
            <div class="col-sm-11">
                <a style="text-decoration: none;" href="{% url 'main:post-create' %}"><input class="form-control" type="text" placeholder="Create post..."></a>
            </div>
        </div>
        <br>
        <br>
        {% endif %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-1"></div>
                <div class="col-sm-4" style="font-size: 18px; font-weight: bold;">
                    Order by:
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="background-color: #6ec1f3; border: none;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Votes
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'main:most-upvoted' %}">The most upvoted</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:most-downvoted' %}">The most downvotes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="background-color: #6ec1f3; border: none;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Time
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'main:most-recent' %}">The most recent</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:the-oldest' %}">The oldest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" style="background-color: #6ec1f3; border: none;"   type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Comments
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'main:most-comments' %}">Most comments</a></li>
                            <li><a class="dropdown-item" href="{% url 'main:lest-comments' %}">Lest comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    {% for post in posts %}

        <div class="article">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-1 text-center" style="font-size: 22px; margin: auto;">
                    <div class="vote-section" style="margin-left:-17px;">
                        <form action="{% url 'main:post-upvote' slug=post.slug %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="image" src="/media/caret-up-solid.svg" width="35" height="35" style="border:none">
                        </form>
                        {{post.upvotes.all.count}}
                        <p></p>
                        {{post.downvotes.all.count}}
                        <form action="{% url 'main:post-downvote' slug=post.slug %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="image" src="/media/caret-down-solid.svg" width="35" height="35" style="border:none">
                        </form>
                    </div>
                </div>
                <div class="col-sm-11">
                    <p style="font-size: 18px; font-weight: bold;">{{post.title|safe}}</p>
                    <div class="clr"></div>
                    <p class="infopost">
                    {% if comments and post.get_comment_numbers != 0 %}
                        <a href="{% url 'main:post-detail' slug=post.slug %}" class="btn btn-secondary btn-sm" style="background-color: #6ec1f3; border: none;"> {{ post.get_comment_numbers }} comment{{ post.get_comment_numbers|pluralize }}</a> 
                    {% else %}
                        <a href="{% url 'main:post-detail' slug=post.slug %}" class="com">No comments yet</a>    
                    {% endif %}
                        <span class="date">Posted {{post.created_at|timesince}} ago |</span> 
                        by <a href="{% url 'profile' post.author %}">{{post.author}}</a>
                    <p>{{post.content|safe}}</p>
                    <table>
                        {% if user == post.author %}
                        <td>
                            <form action="{% url 'main:post-delete' slug=post.slug %}">
                                {% csrf_token %}
                                <a href="{% url 'main:post-delete' slug=post.slug %}">Delete</a>
                            </form>
                        </td>
                        {% endif %}
                        <td>
                        </td>
                        <td>
                            <a href="{% url 'main:post-detail' slug=post.slug %}" class="rm">Read more &raquo;</a>
                        </td>
                    </table>
                    <hr>
                </div>
            </div>
        </div>

        

    {% endfor %}

    

{% endblock content %}