{% extends 'main/base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <!-- LEFT COLUMN -->
    <div style="overflow:auto; height: auto;">
            <div class="left hide-mobile">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
            <a href="#">Link 4</a>
            </div>
        <div>
            <!-- MIDDLE COLUMN -->
            <div class="main">
                <h2>Lorum Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>   
            </div>
            <!-- RIGHT COLUMN -->
            <div class="right hide-mobile">
                <h2>Post author</h2>
                <p>Post author information
                    blah
                </p>
                <p>p</p>
                <p>p</p>
                <p>blah</p>
            </div>
        </div>
    </div> 
{% endblock content %}