{% extends 'main/base.html' %}
{% block title %}{{post.title}} : {{post.author.username}}{% endblock title %}
    
{% block content %}
    <div class="article">
        <p style="font-size: 26px; font-weight: bold; margin-top: 1px; margin-top: -7px; margin-bottom: -7px;">{{post.title}}</p>
        <div class="clr"></div>
        <p>Posted by <a href="#">{{post.author}}</a>
        <p>{{post.content|safe}}<p>
        {% if user == post.author %}
            <table style="margin-top: -20px;">
                <tr>
                    <td>
                        <form action="{% url 'main:post-update' slug=post.slug %}" method="post">
                            <a href="{% url 'main:post-update' slug=post.slug %}">Update</a>
                        </form>
                    </td>
                    <td style="width: 550px;"></td>
                    <td>
                        <form action="{% url 'main:post-delete' slug=post.slug %}" method="post">
                            <a style="float:right" href="{% url 'main:post-delete' slug=post.slug %}">Delete</a>
                        </form>
                    </td>
                </tr>
            </table>
            <hr>
        {% else %}
            <hr style="margin-top: -27px;">
        {% endif %}     
    </div>
    {% if comments %}
        <div class="article">
            <p style="font-size: 26px; font-weight: bold; margin-top: 1px; margin-bottom: -7px;">
                {{ post.get_comment_numbers }} comment{{ post.get_comment_numbers|pluralize }}:
            </p>

<!-- |timesince -->
            {% for comment in comments %}
            <div class="comment">
                <blockquote class="blockquote">
                    <p>{{comment.content}}</p>{{comment.num_of_replies}}
                    <footer class="blockquote-footer">by {{comment.author|capfirst}}
                        <button type="button" name="button" class="reply-btn btn btn-otline">Reply</button>
                    </footer>
                </blockquote>

                <div class="replied-comments container" style="display: none;">
                    {% for reply in comment.replies.all %}
                        <blockquote class="blockquote">
                            <p>{{reply.content}}</p>
                            <footer class="blockquote-footer">by {{reply.author|capfirst}}</footer>
                            <a href="{% url 'main:comment-reply-delete' slug=comment.slug %}">delete</a>
                        </blockquote>
                    {% endfor %}
                    <div class="form-group row">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                            {{comment_form}}
                            <input type="submit" value="Submit" class="btn btn-outline-success">
                        </form>
                    </div>
                </div>  
            </div>
            {%  endfor %}


    {% for comment in comments %}
        
            






        <div class="clr"></div>
        <div class="comment"> <a href="#"><img src="/media/default/avatar.jpg" width="40" height="40" alt="" class="userpic" /></a>
            <p><a href="#">{{comment.author}}</a> Says:<br />
            {{comment.created_at|date:"F jS,"}} at {{comment.created_at|date:"H:i a"}}</p>
            <p>{{comment.content}}</p>
        </div>
        {% if user == comment.author %}
            <table>
                <tr>
                    <td>
                        <form action="{% url 'main:comment-update' slug=comment.slug %}" method="post">
                            {% csrf_token %}
                            <a style="float:right" href="{% url 'main:comment-update' slug=comment.slug %}">Update</a>
                        </form> 
                    </td>
                    <td style="width: 550px;"></td>
                    <td>
                        <form action="{% url 'main:comment-delete' slug=comment.slug %}" method="post">
                            {% csrf_token %}
                            <a style="float:right" href="{% url 'main:comment-delete' slug=comment.slug %}">Delete</a>
                        </form> 
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}

    <div class="article">
        <p style="font-size: 26px; font-weight: bold;">Leave a comment</p>
        <div class="clr"></div>
        {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="flex" style="display: flex;">
            {{comment_form}} <button style="margin-left: 10px;" class="btn btn-primary">Post</button>
        </form>
    </div>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a>   
        {% endif %}
</div> 

<script>$('.reply-btn').click(function() {
    $(this).parent().parent().next('.replied-comments').fadeToggle()
});</script>

{% endblock content %}